body {
    background-color: rgb(103, 103, 211);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.247);
    
}

#msg {
    text-align: center;
}

#foto {
    display: flex;
    justify-content: center;

}

footer {
    color: white;
    text-align: center;
}

